/*global css*/
body {
  background-color: #646464;
}

/*header css*/
.jumbotron {
  background-image: url("../media/butter.jpg");
  background-size: cover;
  color: white;
  height: 300px;
  margin-bottom: 0px;
  text-align: center;
  transition: all .2s ease-in-out;
}
.jumbotron:hover {
  transform: scale(1.1);
}
.navbar {
  margin-bottom: 0px;
  z-index: 1;
}
.logo {
  width: 40px;
}
h1, p {
  background-color: rgba(0,0,0,0.5);
}
h1 {
  margin-bottom: 0px;
}

/*footer css*/
section {
  padding-bottom: 10px;
}
h3 {
  text-align: center;
}
.mediaLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
